{% if 'username' in session %}
	<div class="upper-right">
		<span class="link-wrapper logged-in"><a href="/messages" class="inline-link">view messages</a></span>
		<span class="link-wrapper"><a href="/logout" class="inline-link">log out</a></span>
		<span class="link-wrapper"><a href="/new_message" class="inline-link">new message</a></span>

	</div>
{% else %}
	<div class="upper-right">
		<span class="account-stuff">
			<span class="link-wrapper login"><a href="/login" class="inline-link">log in</a></span> or
			<a href="/signup" class="signup">sign up</a>
		</span>
	</div>
{% endif %}