{% extends "base.html" %}

{% block title %}microblog{% endblock %}

{% block body %}

  {% if posts %}
    <div>
      {% for post in posts %}
        <p>{{post}}</p>
      {% endfor %}
    </div>
  {% else %}
    <div>
      <p>There doesn't seem to be anything here! You should follow some people.</p>
      <p>Here are some suggestions:</p>
      <ul>
        {% for user in suggested_users %}
          <li><a href="/{{user}}">{{user}}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <p>current user: {{current_user}}</p>

{% endblock %}
