{% extends "base.html" %}

{% block title %}microblog{% endblock %}

{% block body %}

  {% include 'account_helper.html' %}
  <div class="upper-right">
    <span class="account-stuff">
      <a href="/new_message" class="new-message">new message</a>
    </span>
  </div>
  <div class="hero">
      <h1 class="title">messages</h1>
      <h3 class="subtitle"><a href = "/{{user}}" class = "inline-link">{{user}}</a></h3>
  </div>

  {% if counter > 0 %}
    <div class="content">
      <div class="feed">
      {% for i in range(0, counter) %}
        <div class="post">
          <p class="post-content">{{messages[i]}}</p>
          <span class="date">{{timestamp[i]}}</span>
          <span class="user"><a href="/{{senders[i]}}" class="inline-link">from: {{senders[i]}}</a></span>
        </div>
      {% endfor %}
      {% for i in range(0, sentcounter) %}
        <div class="post">
          <p class="post-content">{{sentmessages[i]}}</p>
          <span class="date">{{senttimestamps[i]}}</span>
          <span class="user"><a href="/{{recipients[i]}}" class="inline-link">to: {{recipients[i]}}</a></span>
        </div>
      {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="content">
      <div class="post"
        <p class="post-content">No messages at this time.</p>
      </div>
    </div>
  {% endif %}

  {% include 'footer.html' %}
  
{% endblock %}