{% extends "base.html" %}

{% block title %}microblog | login{% endblock %}

{% block body %}
  {% if 'username' not in session %}
    <p>you need to <span class="link-wrapper"><a class="inline-link" href="/signup">sign up</a></span> first</p>
  {% elif username is none %}
      <p>no such person exists</p>
  {% else %}
    {% if reply %}
      <form method="POST" action="/reply/{{pid}}">
        <input type='text' name='content' placeholder='Enter post here'</input>
        <input type='submit' name='submit'></input>
      </form>
    {% else %}
      <form method="POST" action="/new">
        <input type='text' name='content' placeholder='Enter post here'</input>
        <input type='submit' name='submit'></input>
      </form>
    {% endif %}
  {% endif %}
{% endblock %}
