@import 'base';
@import 'colors';
@import 'typography';

.hero {
	max-width: 80%;
	margin: 0 auto;
	margin-bottom: 2rem;
	text-align: center;
}

.link-wrapper {
	position: relative;
}

.upper-left {
	left: 4rem;
	position: absolute;
	top: 4.5rem;
	font-size: 1rem;
	font-weight: 300;

	.logged-in {
		margin-left: 1rem;
	}
}

.upper-right {
	font-weight: 300;
	font-size: 1rem;
	position: absolute;
	right: 4rem;
	top: 4.5rem;

	.account-stuff {
	    color: $medium-gray;
	}

	.login {
		margin-right: 0.5rem;
	}

	.logged-in {
		margin-right: 1rem;
	}

	.signup {
		background-color: $blue;
		border-bottom: 2px solid lighten($blue, 7.5%);
	    border-radius: 10px;
	    color: $white;
	    margin-left: 0.5rem;
	    padding: 0.5rem 1rem;
	    text-decoration: none;
	    transition: 0.2s ease all;

	    &:hover {
	    	background-color: lighten($blue, 7.5%);
	    }
	}
	.new-message {
		background-color: $blue;
		border-bottom: 2px solid lighten($blue, 7.5%);
	    border-radius: 10px;
	    color: $white;
	    margin-left: 0.5rem;
	    padding: 0.5rem 1rem;
	    text-decoration: none;
	    transition: 0.2s ease all;
	    top: 400;
	    &:hover {
	    	background-color: lighten($blue, 7.5%);
	    }
	}
}

.content {
	font-weight: 300;
	margin: 0 auto;
	min-width: 760px;
	position: relative;
	width: 100%;

	ul {
		margin: 0;
		padding: 0;	
	}

	li {
		list-style: none;
		line-height: 2;

		a {
			position: relative;
		}
	}

	.content-left, .feed, .content-right {
		display: inline-block;
	}

	.content-left {
		float: left;
		width: 20%;

		.content-inner {
			padding-left: 4rem;
		}
	}

	.feed {
		width: 60%;
	}

	.content-right {
		float: right;
		width: 20%;

		.content-inner {
			padding-right: 4rem;
		}
	}

	.content-message {
		color: $medium-gray;
		font-weight: 300;
		text-align: center;
	}
}

.post {
    border: 1px solid #ccd;
    border-radius: 10px;
    color: $dark-gray;
	font-family: $sans;
    padding: 1.5rem 2rem;
    position: relative;
    margin: 0 auto;
    margin-bottom: 3rem;
    max-width: 540px;

	.post-content {
	    font-size: 1.0625rem;
	    font-weight: 300;
	    letter-spacing: 0.25px;
	    line-height: 1.6;
	    margin: 0;
	    padding: 0;
	    padding-bottom: 2.5rem;
	}

	.date, .user, .likes {
		bottom: 1.25rem;
		color: $medium-gray;
		font-size: 0.9375rem;
	    font-weight: 300;
		line-height: 1.4rem;
		position: absolute;
	}

	.date {
	    left: 2rem;
	}

	.user {
		left: 50%;
		transform: translateX(-50%);
	}

	.likes {
		right: 3.5rem;

		.heart {
			cursor: pointer;
			fill: $blue;
			position: absolute;
			right: -2rem;
		}
	}
}

.nomore {
	font-weight: 300;
	margin: 3rem auto;
	text-align: center;
}

.footer {
	clear: both;
	font-weight: 300;
	padding: 2rem 0;
	text-align: center;

	.link-wrapper {
		position: relative;
		margin: 0 0.25rem;
	}
}

.space {
	height: 2rem;
}

.black {
	color: $black;
}

@media (max-width: 740px) {
	.content-left, .content-right {
		display: block;
		float: none;
	}
}
