html, body, div {
  margin: 0;
  padding: 0; }

body {
  min-width: 940px;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

p, span, a, div {
  font-family: "Open Sans", sans-serif; }

h2 {
  font-size: 1.0875rem;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 0.5rem; }

h4 {
  font-size: 0.875rem;
  font-weight: 300;
  color: #99a; }

.title {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: 800;
  letter-spacing: -1.5px;
  padding-top: 3rem;
  padding-bottom: 0.5rem; }
  .title a {
    color: #112;
    position: relative;
    text-decoration: none;
    transition: 0.3s ease all; }
    .title a::after {
      background-color: rgba(255, 255, 255, 0);
      border-radius: 10px;
      content: "";
      left: 45%;
      height: 10px;
      position: absolute;
      transition: 0.3s ease all;
      top: calc(100% - 5px);
      width: 10%; }
    .title a:hover {
      color: #7d7d93; }
      .title a:hover::after {
        background-color: #99a;
        left: -10px;
        width: calc(100% + 20px); }

.subtitle {
  color: #99a;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding-bottom: 1rem;
  position: relative; }

.inline-link {
  color: #99a;
  text-decoration: none;
  transition: 0.3s ease all; }
  .inline-link::after {
    background-color: rgba(255, 255, 255, 0);
    bottom: -4px;
    content: "";
    left: 45%;
    height: 1px;
    position: absolute;
    transition: 0.3s ease all;
    width: 10%; }
  .inline-link:hover {
    color: #556; }
    .inline-link:hover::after {
      background-color: #99a;
      left: -5px;
      width: calc(100% + 10px); }

.hero {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 4rem;
  text-align: center; }

.link-wrapper {
  position: relative; }

.upper-left {
  left: 4rem;
  position: absolute;
  top: 4.5rem;
  font-size: 1rem;
  font-weight: 300; }
  .upper-left .logged-in {
    margin-left: 1rem; }

.upper-right {
  font-weight: 300;
  font-size: 1rem;
  position: absolute;
  right: 4rem;
  top: 4.5rem; }
  .upper-right .account-stuff {
    color: #99a; }
  .upper-right .login {
    margin-right: 0.5rem; }
  .upper-right .logged-in {
    margin-right: 1rem; }
  .upper-right .signup {
    background-color: #27d;
    border-bottom: 2px solid #438be2;
    border-radius: 10px;
    color: #fff;
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: 0.2s ease all; }
    .upper-right .signup:hover {
      background-color: #438be2; }
    .upper-right .signup.delete-post {
      background-color: #f78;
      border-bottom: 2px solid #ff9da9;
      margin-top: 3rem;
      position: absolute;
      right: 0; }
      .upper-right .signup.delete-post:hover {
        background-color: #ff9da9; }
  .upper-right .new-message {
    background-color: #27d;
    border-bottom: 2px solid #438be2;
    border-radius: 10px;
    color: #fff;
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: 0.2s ease all;
    top: 400; }
    .upper-right .new-message:hover {
      background-color: #438be2; }

.content {
  font-weight: 300;
  margin: 0 auto;
  min-width: 760px;
  position: relative;
  width: 100%; }
  .content ul {
    margin: 0;
    padding: 0; }
  .content li {
    list-style: none;
    line-height: 2; }
    .content li a {
      position: relative; }
  .content .content-left, .content .feed, .content .content-right {
    display: inline-block; }
  .content .content-left {
    float: left;
    width: 20%; }
    .content .content-left .content-inner {
      padding-left: 4rem; }
  .content .feed {
    width: 60%; }
  .content .content-right {
    float: right;
    width: 20%; }
    .content .content-right .content-inner {
      padding-right: 4rem; }
  .content .content-message {
    color: #99a;
    font-weight: 300;
    text-align: center; }

.post {
  border: 1px solid #ccd;
  border-radius: 10px;
  color: #556;
  font-family: "Open Sans", sans-serif;
  padding: 1.5rem 2rem;
  position: relative;
  margin: 0 auto;
  margin-bottom: 3rem;
  max-width: 540px; }
  .post.new {
    border: 1px solid #27d; }
  .post .replyto {
    font-size: 0.875rem;
    font-weight: 300;
    margin: 0;
    margin-bottom: 1rem; }
  .post .reply-link {
    font-size: 0.875rem;
    font-weight: 300;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem; }
  .post .post-content {
    font-size: 1.0625rem;
    font-weight: 300;
    letter-spacing: 0.25px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    padding-bottom: 2.5rem; }
    .post .post-content .post-link {
      color: #556;
      text-decoration: none;
      transition: 0.2s ease all; }
      .post .post-content .post-link:hover {
        color: #99a;
        text-decoration: none; }
  .post .date, .post .user, .post .likes {
    bottom: 1.25rem;
    color: #99a;
    font-size: 0.9375rem;
    font-weight: 300;
    line-height: 1.4rem;
    position: absolute; }
  .post .date {
    left: 2rem; }
  .post .user {
    left: 50%;
    transform: translateX(-50%); }
  .post .likes {
    right: 3.5rem; }
    .post .likes .heart {
      cursor: pointer;
      fill: #27d;
      position: absolute;
      right: -2rem; }

.likers {
  text-align: center; }

.notif-button {
  background-color: #f78;
  border-radius: 50px;
  color: white;
  padding: 10px;
  text-decoration: none;
  transition: 0.2s ease all; }
  .notif-button:hover {
    background-color: #ff445b; }

.nomore {
  font-weight: 300;
  margin: 3rem auto;
  text-align: center; }

.footer {
  clear: both;
  font-weight: 300;
  padding: 2rem 0;
  text-align: center; }
  .footer .link-wrapper {
    position: relative;
    margin: 0 0.25rem; }

.space {
  height: 2rem; }

.black {
  color: #112; }

@media (max-width: 740px) {
  .content-left, .content-right {
    display: block;
    float: none; } }

/*# sourceMappingURL=style.css.map */
